In [1]:
import pandas as pd

In [2]:
import os

In [14]:
df = pd.read_csv(folder_path)
df.head()

,Store_ID,Date,Product_ID,Product_Name,Quantity_Sold,Unit_Price,Discount_Percent,Payment_Mode
0,S001,2025-07-15,P001,Shampoo,10,150.0,10,Card
1,S001,2025-07-15,P002,Toothpaste,5,80.0,5,Cash
2,S002,2025-07-15,P001,Shampoo,8,150.0,15,UPI
3,S002,2025-07-16,P003,Facewash,12,120.0,0,Wallet
4,S003,2025-07-16,P004,Hair Oil,6,200.0,20,Card

In [17]:
folder_path = "C:/Users/sabar/OneDrive/Desktop/data"

csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
df_list = [pd.read_csv(os.path.join(folder_path, file)) for file in csv_files]
df = pd.concat(df_list, ignore_index=True)

df.head()

,Store_ID,Date,Product_ID,Product_Name,Quantity_Sold,Unit_Price,Discount_Percent,Payment_Mode
0,S001,2025-07-15,P001,Shampoo,10,150.0,10,Card
1,S001,2025-07-15,P002,Toothpaste,5,80.0,5,Cash
2,S002,2025-07-15,P001,Shampoo,8,150.0,15,UPI
3,S002,2025-07-16,P003,Facewash,12,120.0,0,Wallet
4,S003,2025-07-16,P004,Hair Oil,6,200.0,20,Card

In [18]:
import numpy as np

In [19]:
df.fillna({
    'Quantity_Sold': 0,
    'Unit_Price': 0.0,
    'Discount_Percent': 0.0,
    'Payment_Mode': 'Unknown'
}, inplace=True)

In [20]:
df['Total_Sale_Value'] = df['Quantity_Sold'] * df['Unit_Price'] * (1 - df['Discount_Percent'] / 100)

In [21]:
df.columns = df.columns.str.lower().str.strip()

In [22]:
df['date'] = pd.to_datetime(df['date'])

In [23]:
df.drop_duplicates(subset=['store_id', 'date', 'product_id'], inplace=True)

In [24]:
df['sale_category'] = np.where(df['total_sale_value'] >= 1000, 'High',
                        np.where(df['total_sale_value'] >= 500, 'Medium', 'Low'))

df.head()

,store_id,date,product_id,product_name,quantity_sold,unit_price,discount_percent,payment_mode,total_sale_value,sale_category
0,S001,2025-07-15,P001,Shampoo,10,150.0,10,Card,1350.0,High
1,S001,2025-07-15,P002,Toothpaste,5,80.0,5,Cash,380.0,Low
2,S002,2025-07-15,P001,Shampoo,8,150.0,15,UPI,1020.0,High
3,S002,2025-07-16,P003,Facewash,12,120.0,0,Wallet,1440.0,High
4,S003,2025-07-16,P004,Hair Oil,6,200.0,20,Card,960.0,Medium

In [26]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.3-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sabar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.1)
Downloading sqlalchemy-2.0.41-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.5 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.5 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp313-cp313-win_amd64.whl (297 kB)
Installing collected packages: greenlet, sqlalchemy

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sqlalchemy import create_engine

In [28]:
user = 'root'
password = 'Parthalachu2015'
host = 'localhost'
database = 'retail'

engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

In [39]:
engine = create_engine("mysql+mysqlconnector://user:password@host/existing_database")

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [8]:
import glob

In [2]:
all_files = glob.glob("data/*.csv")
df_list = [pd.read_csv(file) for file in all_files]
df = pd.concat(df_list, ignore_index=True,sort=False)

NameError: name 'glob' is not defined